/*html {
  scrollbar-color: hsla(0, 0%, 46%, 0.5) transparent;
}
*/

/** {*/
/*  overflow-y: auto;*/
  /* Fallback for Firefox: make it a bit thinner */
/*  scrollbar-width: thin;                /* Firefox */
/*  scrollbar-color: #888 transparent;    /* Firefox */
/*}*/


/* WebKit browsers */
::-webkit-scrollbar {
  width: 12px;  /* overall width of scrollbar */
}
::-webkit-scrollbar-track {
  /* push the track in from top and bottom */
  margin: 30px 0; 
  background: #f1f1f1;
} /* :contentReference[oaicite:0]{index=0} */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  background : transparent !important;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 10px;
  width : 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8F8F8F; 
}
