@import "tailwindcss";

.segmented-progress-bar {
  display: flex;
  justify-self: center;
  width: 100%;       /* Adjust as needed */
  height: 25px;       /* Adjust as needed */
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;   /* In case of partial fill, ensures neat edges */
  padding:10px;
  margin-top: 40px;

}

.segment {
  height: 5px;
  flex: 1;
  position: relative;
  background-color: #efefef; /* Base color of each segment */

}
.segmented-progress-bar  *{
  border-radius: 25px;
}

/* Remove the right border for the last segment */
.segment:last-child {
  border-right: none;
}

/* The fill portion of the segment */
.segment-fill {
  height: 5px;
  background-color: #ffc107; /* The "filled" color (yellow) */
  transition: width 0.3s ease; /* Optional smooth transition */
  
}
